@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap");

.Header {
  text-align: center;
  font-family: "Ruda", sans-serif;
  font-style: normal;
  margin: 25px 24px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.Header h1 {
  display: inline-block;
  background-color: #dbff00;
  border-radius: 15px;
  font-weight: 700;
  padding: 15px 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.Header h1:hover {
  background-color: #c0e600;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

